# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
.tmp/
.cache/

# Environment files
.env
.env.local
services/*/.env

# Logs
*.log
logs/
pids/
*.pid
*.seed
*.pid.lock

# Docker
docker-compose.override.yml

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# Misc
coverage/
.idea/
